
 body {
 font: 13pt Arial, Helvetica, sans-serif; /* насчет стиля текста ещё не уверен */
   background: black; 
    text-shadow: 1px 1px 1px ;
     width: 100%;
      height: auto;
 }
 h2 {
 font-size: 18px; /* ну здесь у нас размер текста проигрывателя */
  color: #080808; /* Цвет заголовка */
   margin-top: 0; /* Отступ сверху */
 }

 .container {
 width: 100%; /* Ширина слоя */
  margin: 0 auto; /* Выравнивнить весь блок по центру */
   /*background: #000000;  Цвет фона левой колонки */
      height: auto;
 }
header {position: absolute;
 
z-index: 1; /*позиция слоя (поверх видео)*/
  font-size: 25px; /* Размер текста в шапке */
   text-align: left; /* Выравнивание текст шапки по центру */
    padding: 0px; /* Отступы внутри блока шапки */
     padding-bottom: 10px;
      background-image: url(https://pp.vk.me/c630919/v630919736/3aa59/wZWAOU4uyp0.jpg);
      color: #fff; /* Цвет текста */
        /* margin-right: 35px; */
         height: 120px;
         /*  border-radius: 10px; */
           width: 100%;
            background-repeat: no-repeat;
             background-position: 99% 100%; 
              background-size: auto 145px; 
	       background-color: #000;
                margin-top: -35px;
	         left: 0;
                  text-indent: 0.5em;
                  padding-right: 10px;
                  
 }
header a {position: absolute; 
width: 80px;
height: 80px;
display: inline;
         border: none;
          top: 85px;
		   z-index: 10;
		   margin-right: 25px;
		   /* transition: 0.8s;
		   opacity: 0.7;
		   transform: scale(1); */
		   transform-origin:  50% 50%;}
img{/* position: absolute;  */
width: 80px;
height: 80px;
/* display: inline-block;
         border: none;
          top: 80px;
		   z-index: 10;
		   margin-right: 25px;*/
		   transition: 0.8s;
		   opacity: 0.7;
		   transform: scale(1);
		   transform-origin:  50% 50%; 
		   
}
/* кнопки по отдельности */
 .btn-1 {/* background: url("source/image/250.png") no-repeat;
 background-size: 80px 80px;  */
 left: 25px;
}
 .btn-2{/* background: url("source/image/250i.png") no-repeat;
 background-size: 80px 80px; */
 left: 145px;}
 .btn-3{/* background: url("source/image/250.png") no-repeat;
 background-size: 80px 80px; */
 left: 270px;
}
@keyframes rotate {
    
0% {
        transform: rotate(0deg);
		transform-origin:  50% 50%;
}
    
100% {
        transform: rotate(360deg);
		transform-origin:  50% 50%;
}
}


.btn-1 img{
    animation-name: rotate;
    
             animation-duration: 3s;
}.btn-2 img{
    animation-name: rotate;
    
             animation-duration: 4s;
}
.btn-3 img{
    animation-name: rotate;
    
             animation-duration: 5s;
}
 
/* трансформация при наведении (уменьшение+лёгкая прозрачность) */
a:hover img{
 opacity: 1;
transform: scale(0.8) 
}
.flex-container {
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
}
		   
.player{/* здесь мутим с проигрывателем */
  position: absolute;
     display: flex;
opacity: 0.6;

/* 	flex-wrap: wrap; */
flex-direction: column; 
justify-content: center;
align-flex: center;
z-index: 5; /*позиция слоя (поверх видео)*/
left: 0%;
	top: 40%;
        /*background: #333;
		background-color: rgba(50, 50, 50, 0.5);*/
            height: 140px;
             width: 100%;
             border-radius: 0px;
		
   }
   
 /* блок с треком 
 audio {
 width: 80%;
 margin: 0 auto;}*/

 footer {position: absolute;
 background:  #000000; /* Цвет фона нижнего блока-подвала */
  color: #fff; /* Цвет текста подвала */
   padding: 10px 0px; /* Отступы внутри блока */
    clear: right; /* Отменяем действие float */
     width: 100%;
      bottom: 0px;
       left: 0;
 	padding-right: 10px;
 }

	   /* подпись в футере */	   
footer span {
box-sizing: border-box; padding-left: 40px; width: 40%; text-shadow: none; font-size: 0.8em; line-height: 1.6em; font-weight: bold;}

 footer a {display: block; text-decoration: none; font-weight: normal; color: #ccc; padding-left: 160px;}
 footer a:hover {color: #fff;  font-weight: normal;}
 footer a span {font-family: "Wingdings"; font-size: 1.2em; transform: scale(1); transition: 0.2s; transform-origin: 50% 50%;}
 footer a:hover span {color: red; transform: scale(0.9);}
 /*стили для видео*/
.is_overlay{ display: block; width: 100%; height: 90%; }
#horror {
	position: fixed;
	top: -20px; right: 0; bottom: 0; left: 0%;
	
}

#horror > video {
	position: absolute;
	top: -20;
	left: 0;
	width: 100%;
	height: auto;
	z-index: -1
}

